# 3 types of scenarios in an ACC system

## Results and Discussion
In this final section, we will discuss three types of scenarios in an ACC system and test it to ensure that the system is functioning properly.

### 1. Performance Benchmarking
* Testing with documentation conditions where

| Parameter | Symbol | Value | Unit |
| :--- | :--- | :--- | :--- |
| Time Gap | $t_{gap}$ | $1.4$ | $s$ |
| Default Spacing | $D_{default}$ | $10$ | $m$ |
| Lead Initial Position | $x0_{lead}$ | $50$ | $m$ |
| Lead Initial Velocity | $v0_{lead}$ | $25$ | $m/s$ |
| Ego Initial Position | $x0_{ego}$ | $10$ | $m$ |
| Ego Initial Velocity | $v0_{ego}$ | $20$ | $m/s$ |
| Minimum Acceleration | $a_{min\_ego}$ | $-3$ | $m/s^2$ |
| Maximum Acceleration | $a_{max\_ego}$ | $2$ | $m/s^2$ |


