# 3 Scenarios Tests in an ACC system
In this final section, we will discuss three types of scenarios in an ACC system and test it to ensure that the system is functioning properly.

## 1. Performance Benchmarking

Table 1: Parameters of MATLAB documentation
| Parameter | Symbol | Value | Unit |
| :--- | :--- | :--- | :--- |
| Time Gap | $t_{gap}$ | $1.4$ | $s$ |
| Default Spacing | $D_{default}$ | $10$ | $m$ |
| Lead Initial Position | $x0_{lead}$ | $50$ | $m$ |
| Lead Initial Velocity | $v0_{lead}$ | $25$ | $m/s$ |
| Ego Initial Position | $x0_{ego}$ | $10$ | $m$ |
| Ego Initial Velocity | $v0_{ego}$ | $20$ | $m/s$ |
| Minimum Acceleration | $a_{min\_ego}$ | $-3$ | $m/s^2$ |
| Maximum Acceleration | $a_{max\_ego}$ | $2$ | $m/s^2$ |

<center>
    <p><b>Table 2: Matlab documentation Acceleration, Velocity, and Distance Graphs of Ego and Lead</b></p>
  <img width="1138" height="1044" alt="image" src="https://github.com/user-attachments/assets/6b35d02d-e94e-4c8d-abf2-ae1d4600e274" />
</center>


< ### Velocity vs Time >
<img width="1841" height="1142" alt="image" src="https://github.com/user-attachments/assets/df26832d-2be9-470f-ae27-490a4b3a6388" />

<img width="1886" height="1134" alt="image" src="https://github.com/user-attachments/assets/69134f2e-9f16-4cd4-ada5-689478335e71" />


<img width="1848" height="1138" alt="image" src="https://github.com/user-attachments/assets/f5112c47-5c88-46b0-9779-2ec21713dd46" />


